<div id="cf-concept-versions-template" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cf-bg-panel">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <button type="button" class="close" data-ng-click="panels.close();" style="color: #fff;opacity: .7;">×</button>
        <h3 style="color:#fff">
          <translate>Concept Versions</translate>
          <p>
            <small style="font-size: 52%;color: #9E9C9C;">
              <translate>Construct a form starting from another already build.</translate>
            </small>
          </p>
        </h3>
      </div>
    </div>

    <div class="col-md-12">
      <div class="cf-tree" ng-class="{'col-md-3': selected, 'col-md-12': !selected}">
        <div treecontrol class="tree-dark"
             tree-model="treedata"
             options="treeOptions"
             on-selection="showSelected(node, selected)"
             on-node-toggle="expandedSelected(node, expanded, $parentNode)"
             selected-node="selected">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          <!--<translate>Concept</translate>-->
        <span>
          {{ node.name }}
        </span>
        </div>
      </div>

      <div ng-show="selected" class="col-md-9 cf-drag-preview-show">
        <div class="row">
          <div class="col-md-12">
            <div style="margin-bottom: 7px;">
              <button type="button" class="btn btn-primary" ng-click="selectThisParent()" ng-disabled="parentSelect">
                <translate>Select this Version</translate>
              </button>
              <button type="button" class="btn btn-default" data-ng-click="panels.close();">
                <translate>Close</translate>
              </button>
            </div>

            <blockquote>
              <p ng-show="selectNode.description">{{ selectNode.description }}</p>

              <p ng-show="!selectNode.description" class="text-warning">
                <translate>The concept doesn't have description.</translate>
              </p>
              <small>{{ selectNode.data_concept.model[0].fieldGroup.length }} fields</small>
            </blockquote>
          </div>

          <div class="column-preview col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <cfform-show ng-model="modelShow" fields="model.data_concept.model"></cfform-show>
          </div>
          <div class="column-preview col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <pre>{{ modelShow | json }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
