<div class="page-header">
  <a ng-href="#/concept-new" class="btn btn-primary btn-lg pull-right" title="New Concept" role="button">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
  <h1>
    <translate>Remove Concept:</translate> <strong>{{ formObject.name }}</strong>
  </h1>
</div>

<ol class="breadcrumb">
  <li>
    <a href="#/concept-list">
      <translate>List concepts</translate>
    </a>
  </li>
  <li>
    <a href="#/concept-edit/{{ formObject.id }}">
      <translate>Edit Concept</translate>
    </a>
  </li>
  <li>
    <a href="#/concept-show/{{ formObject.id }}">
      <translate>Show Concept</translate>
    </a>
  </li>
  <li class="active">
    <translate>Remove Concept</translate>
    : <strong>{{ formObject.name }}</strong>
  </li>
</ol>

<div class="alert alert-danger fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4>
    <translate>Are you sure</translate>
    !
  </h4>

  <p>
    <translate>Remove concept</translate>: <strong>{{ formObject.name }}</strong></p>

  <p>
    <button type="button" class="btn btn-danger btn-sm" ng-click="removeConcept(formObject)">Remove</button>
    <a ng-href="#/concept-list" class="btn btn-default btn-sm" role="button">
      <translate>Cancel</translate>
    </a>
  </p>
</div>