/* Space out content a bit */
body {
  padding-top    : 20px;
  padding-bottom : 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left  : 15px;
  padding-right : 15px;
}

/* Custom page header */
.header {
  border-bottom : 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top     : 0;
  margin-bottom  : 0;
  line-height    : 40px;
  padding-bottom : 19px;
}

.page-header {
  margin : 18px 0 20px;
}

/* Custom page footer */
.footer {
  padding-top : 19px;
  color       : #777;
  border-top  : 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width : 768px) {
  .container {
    max-width : 970px;
  }
}

.container-narrow > hr {
  margin : 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align    : center;
  border-bottom : 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size : 21px;
  padding   : 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin : 40px 0;
}

.marketing p + h4 {
  margin-top : 28px;
}

.mouse-enter {
  visibility : visible !important;
}

.mouse-leave {
  visibility : hidden !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width : 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left  : 0;
    padding-right : 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom : 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom : 0;
  }
}

.cf-bg-panel {
  height           : 100%;
  background-color : #1D4F83;
  overflow         : auto;
}

.cf-bg-panel-form {
  background-color : #623292;
}

.cf-bg-panel .cf-column {
  padding-right : 0px;
  padding-left  : 0px;
}

.cf-bg-panel .cf-tree {
  padding-right : 0px;
  padding-left  : 3px;
}

.cf-bg-panel .a2 {
  padding : 0 0 0 10px;
}

.cf-bg-panel .a6 {
  color : #9E9C9C;
}

.cf-bg-panel .a8 {
  color : #fff;
}

.cf-bg-panel .column-preview {
  padding-right : 19px;
  padding-left  : 19px;
}

.cf-bg-panel blockquote {
  border-left : 5px solid #1D4F83;
  padding     : 1px 9px;
  font-size   : 13px;
}

.cf-bg-panel-form blockquote {
  border-left : 5px solid #623292;
}

.cf-bg-panel blockquote p {
  margin : 0 0 2px;
}

.cf-example-video {
  position         : absolute;
  padding          : 0px 6px 1px;
  top              : 0;
  background-color : rgba(226, 226, 226, 0.79);
}

.cf-example-video span {
  font-size : 13px;
  cursor    : pointer;
}

.cf-example-video span:nth-child(2) {
  margin-left : 2px;
}

.cf-example-video span:hover {
  color : #47AE73;
}

.intro h1,
.intro h2,
.intro h3,
.intro h4,
.intro h5 {
  color : #0E608B;
}