<div class="page-header">
  <h1>
    <translate>Concept:</translate>
  </h1>
</div>

<ol class="breadcrumb">
  <li>
    <a href="#/form-list">
      <translate>List Forms</translate>
    </a>
  </li>
  <li class="active">
    <translate>See builder only</translate>
  </li>
</ol>

<div class="col-lg-12">
  <div cfconceptdrag ng-model="concept"></div>
</div>