<div class="page-header">
  <a ng-href="#/new-form" class="btn btn-primary btn-lg pull-right" title="New Form" role="button">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
  <h1>
    <translate>Show Form:</translate> <strong>{{ formObject.name }}</strong>
  </h1>
</div>

<ol class="breadcrumb">
  <li>
    <a href="#/form-list">
      <translate>List forms</translate>
    </a>
  </li>
  <li>
    <a href="#/edit-form/{{ formObject.id }}">
      <translate>Edit Form</translate>
    </a>
  </li>
  <li class="active">
    <translate>Show Form</translate>
    : <strong>{{ formObject.name }}</strong>
  </li>
  <li>
    <a class="text-danger" href="#/remove-form/{{ formObject.id }}">
      <translate>Remove Form</translate>
    </a>
  </li>
</ol>

<div class="row">
  <div class="col-lg-8">
    <!--<cfform-show-concept ng-model="modelShow" concepts="formObject.data_form.model"></cfform-show-concept>-->
    <cfform-show ng-model="modelShow" fields="formObject.data_form.model"></cfform-show>
  </div>
  <div class="col-lg-4">
    <pre>{{ modelShow | json }}</pre>
  </div>
</div>